<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的题库中心-题目集</title>
    <link rel="stylesheet" href="/../static/CSS/PersonalCenter.css">
</head>
<body>
    <div class="banner">
        <a href="/index/"><h>试题管理系统</h></a>
        <div class="status">
            <ul>
                <li><a href="/user/login/"><h>切换账号</h></a></li>
                <li><a href="/index/personalCenter/"><h>我的题库中心</h></a></li>
                <li><a href="/user/{{ useraccount }}/modify/"><h>个人中心</h></a></li>
                <li><a href="#"><h>我的博客</h></a></li>
            </ul>
        </div>
    </div>
    <div class="center_left">
        <img class="new_pk01" src="/../static/img/newpk01.png" alt="">
        <div class="new_pk02"><img src="/../static/img/newpk02.png" alt=""></div>
    </div>

    <div class="center_right">
        <div class="right_context">
            <a class="bt_p" href="/index/personalCenter/">模拟考试</a>
            <a class="bt_p" href="/index/personalCenter2/">我的题目集</a>
        </div>
        <ul>
            <li class="right_context right_li">
                <a class="" href="#">数据库模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">Java模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">数据库模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">Java模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">数据库模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">Java模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">数据库模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">Java模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">数据库模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">Java模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">数据库模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
            <li class="right_context right_li">
                <a class="" href="#">Java模拟题库1</a>
                <p>分</p><p>100</p><p>分数:</p>
            </li>
        </ul>
    </div>
    <div class="center_left_text">建议反馈：1348757279@qq.com</div>
</body>
</html>