<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<p align="right">
    <a href="#">我的博客</a> <a href="/index/personalCenter/">个人中心</a>
    <a href="/user/modify">用户名</a> <a href="/user/login">切换账号</a>
</p>

<div class="#">
        <div class="header_input">
            <div class="个人试卷库">个人试卷库</div>
                <div class="input">
                    <label for="真题卷">xxx年xxx真题卷xxx</label>  <label for="addtime">添加时间</label>
                    <input type="text" placeholder="年份" id="addtime">  <a href="/exam"><button>开始考试</button></a><br />
                    <label for="真题卷">xxx年xxx真题卷xxx</label>  <label for="addtime">添加时间</label>
                    <input type="text" placeholder="年份" id="addtime">  <a href="/exam"><button>开始考试</button></a><br />
                    <label for="真题卷">xxx年xxx真题卷xxx</label>  <label for="addtime">添加时间</label>
                    <input type="text" placeholder="年份" id="addtime">  <a href="/exam"><button>开始考试</button></a><br />
                </div>
            <div class="科目题库">科目题库</div>
                <div class="input">
                    <label for="学科">学科xxx</label> <label for="备考题库">xxx备考题库xxx</label>
                    <label for="addtime2">添加时间</label>
                    <input type="text" placeholder="年份" id="addtime2">
                    <a href="/user/QuestionPage"><button>开始答题</button></a><br />
                    <label for="学科">学科xxx</label> <label for="备考题库">xxx备考题库xxx</label>
                    <label for="addtime2">添加时间</label>
                    <input type="text" placeholder="年份" id="addtime2">
                    <a href="/user/QuestionPage"><button>开始答题</button></a><br />
                    <label for="学科">学科xxx</label> <label for="备考题库">xxx备考题库xxx</label>
                    <label for="addtime2">添加时间</label>
                    <input type="text" placeholder="年份" id="addtime2">
                    <a href="/user/QuestionPage"><button>开始答题</button></a><br />
                </div>
        </div>
    </div>

</body>
</html>