<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学科题库</title>
    <link rel="stylesheet" href="/../static/CSS/subjectDesc.css">
</head>
<body>
    <div class="banner">
        <a href="/index/"><h>试题管理系统</h></a>
        <div class="status">
            <ul>
                <li><a href="/user/login/"><h>切换账号</h></a></li>
                <li><a href="/index/personalCenter/"><h>我的题库中心</h></a></li>
                <li><a href="/user/modify/"><h>个人中心</h></a></li>
                <li><a href="#"><h>我的博客</h></a></li>
            </ul>
        </div>
    </div>
    <div class="center_body">
        <div class="title_head">
            <a href="/index/subjectDesc/">学科</a>
            <a href="#">学科</a>
            <a href="#">学科</a>
            <a href="#">学科</a>
            <a href="#">学科</a>
            <a href="#">学科</a>
        </div>
        <div class="title_first"><h>学科</h></div>
        <dl>
            <div class="inner_context">
                <dt>2020年备考</dt>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
            </div>
            <div class="inner_context">
                <dt>2021年备考</dt>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
            </div>
            <div class="inner_context">
                <dt>2022年备考</dt>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
            </div>
            <div class="inner_context">
                <dt>2022年备考</dt>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
                <dd><a href="#">2020数据库期中一</a></dd>
            </div>
        </dl>
    </div>
</body>
</html>