<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" href="/../static/CSS/forgotPwd.css">
</head>
<body>
    <div class="banner">
        <a href="http://127.0.0.1:8000/"><h>试题管理系统</h></a>
    </div>
    <div class="theme">
        <div class="major">
            <h>找回密码</h>
            <form method="post" action="/user/forgotPwd/inputAccount/">
                {% csrf_token %}
                <div class="text1">请输入您的账号</div><br/>
                <input class="input_account" type="text" placeholder="在这里输入您的账号" name="userNameGet">
                <a href="/user/forgotPwd/verifySecurity/"> <button type="submit">下一步</button></a>
                <span style="color: red">{{ error_msg }}</span>
            </form>
        </div>
    </div>

</body>
</html>