<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="/../static/CSS/forgotPwd.css">
</head>
<body>
    <div class="banner">
        <a href="http://127.0.0.1:8000/"><h>试题管理系统</h></a>
    </div>
    <div class="theme">
        <div class="major">
            <h>重置密码</h>
            <form method="post" action="/user/forgotPwd/resetPassword/">
                {% csrf_token %}
                <div class="dev">
                    <div class="text2">新密码</div>
                    <input class="input_password1" type="password" placeholder="在这里输入密码" name="PasswordFirst">
                </div>
                </br>
                <div class="dev">
                    <div class="text2">再次确认密码</div>
                    <input class="input_password2" type="password" placeholder="再次确认密码" name="PasswordLast">
                </div>
                <input class="commit" type="submit" value="提交"><br/>
                <span style="color: red">{{ error_msg }}</span>
            </form>
        </div>
    </div>
</body>
</html>