<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link rel="stylesheet" href="/../static/CSS/register.css">
</head>
<body>
    <div class="banner">
        <a href="/index/"><h>试题管理系统</h></a>
    </div>
    <div class="theme">
        <div class="major">
            <h>修改个人信息</h>
            <form method="post" action="/user/modify/">
                {% csrf_token %}
                <div>
                    <ul>
                        <li>
                            <span>用户名</span>
                            <input type="text" name="ConsumerName" placeholder="这里输入用户名">
                        </li>
                        <li>
                            <span>姓名</span>
                            <input type="text" name="Name" placeholder="姓名">
                        </li>
                        <li>
                            <span>性别</span>
                            <label><input type="radio" name="Sex" value="男">男</label>
                            <label><input type="radio" name="Sex" value="女">女</label>
                        </li>
                        <li>
                            <span>手机号</span>
                            <input type="text" name="Number" placeholder="手机号">
                        </li>
                        <li>
                            <span>出生日期</span>
                            <input type="date" name="Birthday">
                        </li>
                        <li>
                            <span>邮箱</span>
                            <input type="text" name="Email" placeholder="邮箱">
                        </li>
                        <li>
                            <span>密保问题</span>
                            <input type="text" name="SecurityQuestion" placeholder="这里填写密保问题">
                        </li>
                        <li>
                            <span>密保答案</span>
                            <input type="text" name="SecurityAnswer" placeholder="这里填写密保答案">
                        </li>
                    </ul>
                    <input class="register" type="submit" value="保存">
                </div>
            </form>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------->

</body>
</html>