<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传成功！</title>
    <link rel="stylesheet" href="/../static/CSS/collect.css">
    <style>
        .text_info{
            font-size: 40px;
        }
        a{
            text-decoration: none;
            font-size: 30px;
            color: blue;
        }
        a:hover{
            color: #2e6da4;
        }
    </style>
</head>
<body>
    <div class="banner">
        <h>试题管理系统</h>
    </div>
    <h class="text_info">上传成功！</h>
    <a href="/admin/">返回管理员页面</a>
    <a href="/collectTestpaper/">再次上传</a>
</body>
</html>