* {
    margin: 0;
    padding: 0;
}

.clear_fix:before,.clear_fix:after{
    content: "";
    display: table;
}
.clear_fix:after{
    clear: both;
}
.clear_fix{
    *zoom: 1;
}
a{
    text-decoration: none;
}
.banner{
    background: #6d6d6d;
    height: 50px;
    padding-top: 15px;
    padding-left: 200px;
}
.banner h{
    color: #5dd5c8;
    font-size: 30px;
    font-weight: bold;
}
.theme {
    padding-top: 65px;
    height: 600px;
    background: #12ada9;
}
.major{
    float: left;
    background: white;
    margin-left: 600px;
    margin-top: 100px;
    width: 600px;
    height: 300px;
    text-align: center;
    border-radius:10px;
    padding-top: 50px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.9);/*边框阴影*/
}
.major h{
    color: #5dd5c8;
    font-size: 50px;
    margin-bottom: 20px;
}
.text1{
    font-size: 20px;
    margin-top: 15px;
}
.input_account{
    width: 180px;
    height: 30px;
}
button{
    font-size: 20px;
    width: 100px;
    height: 50px;
    color: white;
    background: #53cac3;
    border: none;
}
button:hover{
    background: #9bf2ed;
}
.commit{
    margin-top: 20px;
    margin-right: 240px;
    font-size: 30px;
    width: 100px;
    height: 50px;
    color: white;
    background: #53cac3;
    border: none;
}
.commit:hover{
    background: #9bf2ed;
}
.dev{
    height: 30px;
    width: 600px;
}
.text2{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 120px;
    float: left;
}
.input_password1{
    margin-left: 80px;
    float: left;
    width: 220px;
    height: 30px;
}
.input_password2{
    margin-left: 20px;
    float: left;
    width: 220px;
    height: 30px;
}
.signal{
    padding-left: 500px;
    font-size: 50px;
    font-weight: bold;
}
.return_login{
    font-size: 30px;
    text-decoration: none;
}