* {
    margin: 0;
    padding: 0;
}

.clear_fix:before,.clear_fix:after{
    content: "";
    display: table;
}
.clear_fix:after{
    clear: both;
}
.clear_fix{
    *zoom: 1;
}
/*-----------------------以上为基础设置------------------------------------*/
