<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试页面</title>
</head>
<body>
    <div class ="border_style" style="text-align:center">
        试卷内容
    </div>
    <style type="text/css">
        .hidden{
            display: none;
        }
        .border_style{
            border: 2px solid #000;
            width: 1200px;
            height:500px;
        }
    </style>
     <div style="text-align:center">
     <br /> <button>交卷</button>     <a href="/exam/answer"><button>查看解析</button></a>
     </div>
</body>
</html>