<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试题解析</title>
</head>
<body>
    <div class ="border_style">
        试题XXX<br />
        <tr>
		<td align="right" style="text-align:center">知识点：</td>
		<td><input type="text" name="username" id="" placeholder="xxxxxx" style ="height :10px;width:100px;"><br /></td>
	    </tr>
        <tr>
		<td><br /><input type="text" name="题干" id="" placeholder="题干" style ="height :150px;width:1180px;"></td>
	    </tr>
        <tr>
		<td align="right" style="text-align:center">答案解析：</td>
		<td><input type="text" name="username" id="" placeholder="xxxxxx" style ="height :100px;width:1180px;"><br /></td>
	    </tr>
        <tr>
		<td align="right" style="text-align:center">视频讲解：</td>
		<td><input type="text" name="username" id="" placeholder="视频讲解" style ="height :100px;width:1180px;"><br /></td>
	    </tr>
        <td align="right" style="text-align:center">试题推荐：</td>
		<td><input type="text" name="username" id="" placeholder="推荐1：XXXXX | 推荐2：XXXXX推荐 | 3：XXXXX " style ="height :100px;width:1180px;"><br /></td>
	    </tr>

    </div>
    <style typs = "text/css">
        .hidden{
            display: none;
        }
        .border_style{
            border: 2px solid #000;
            width: 1200px;
            height:700px;
        }
    </style>
</body>
</html>